/* CSS declarations go here */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(top, #0978ec 0%, #64abf5 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
