@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'square';
    src: url('fonts/Square.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(top, #0978ec 0%, #64abf5 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("images/pixel_landscape.jpg");
  color: #333;
}

h1 {
  font-family: 'square';
}

.main-area {
  max-width: 700px;
  margin: auto;
  height: auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px;
  /*border: 5px solid #666;*/
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
}
