<template name="globalNav">
  <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">
              <div class="small-logo">
                <img class="logo" src='images/Logo.png'/>
              </div>
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/feed" class="pure-menu-link">Feed</a></li>
                <li class="pure-menu-item"><a href="/target" class="pure-menu-link">Target</a></li>
                <li class="pure-menu-item"><a href="/save" class="pure-menu-link">Save</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tower</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">More</a></li>
                <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
                <li class="pure-menu-item logout"><a href="/">Log Out</a></li>
            </ul>
  </div>
</template>
