<template name="globalNav">
  <nav class="side-nav">
    <ul>
      <li class="nav-items">
        <a href="/feed"><i class="fa fa-bolt"></i><span class="nav-text">Feed</span></a>
      </li>
      <li class="nav-items">
        <a href="/save"><i class="fa fa-gbp"></i><span class="nav-text">Save</span></a>
      </li>
      <li class="nav-items">
        <a href="/target"><i class="fa fa-tachometer"></i><span class="nav-text">Target</span></a>
      </li>
      <li class="nav-items">
        <a href="/tower"><i class="fa fa-home"></i><span class="nav-text">House</span></a>
      </li>
    </ul>
  </nav>
</template>
