<template name="globalNav">
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css"> -->
  <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">Save a Nation</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/feed" class="pure-menu-link">Feed</a></li>
                <li class="pure-menu-item"><a href="/target" class="pure-menu-link">Target</a></li>
                <li class="pure-menu-item"><a href="/save" class="pure-menu-link">Save</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tower</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">More</a></li>
                <li class="pure-menu-item">{{> loginButtons}}</li>
            </ul>
  </div>
</template>
