<template name="Header">
  <header class="header">
    <div class="header-container">
      <a href="/feed">
        <img class="logo" src='images/Logo-white-on-red.png' >
      </a>
      <ul>
        <li><a href="/profile"><i class="fa fa-user-o" title="Profile"></i></a></li>
        <li><a href="/team"><i class="fa fa-users" title="Team"></i></a></li>
        <li><a class="logout" href="/"><i class="fa fa-sign-out" title="Sign Out"></i></a></li>
      </ul>
    </div>
  </header>
</template>
