<template name="Header">
  <header class="header">
    <div class="header-container">
      <a href="/feed">
        <img class="logo" src='images/Logo-white-on-red.png' >
      </a>
      <ul>
        <li><a href="/profile" id="profile-link"><i class="fa fa-user-o fa-lg" title="Profile"></i><span class="top-nav-text"><small> Profile</small></span></a></li>
        <li><a href="/team" id="team-link"><i class="fa fa-users fa-lg" title="Team"></i><span class="top-nav-text"><small> Team</small></span></a></li>
        <li><a class="logout" href="/"><i class="fa fa-sign-out fa-lg" title="Sign Out"></i><span class="top-nav-text"><small> Log Out</small></span></a></li>
      </ul>
    </div>
  </header>
</template>
