<template name="homeLayout">
  <body>
    <div id="clouds-canvas">
      <img class="skyscraper" src="images/skyscraper.png">

      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>

      <div id="billboard">
        {{> carousel}}
        <div id="buttons">
          <button>Sign Up</button>
          <button>Sign In</button>
        </div>
      </div>

    </div>
  </body>
</template>

<template name="carousel">
  <div id="carousel">
    <div>
      <img class="logo-big" src='images/Logo.png'>
      <h2>Save with your friends - and get on the property ladder together!</h2>
    </div>
    <div>
      <h2>HERE'S HOW IT WORKS</h2>
      <p>Connect your account to the friends you want to save with, and set a saving target.</p>
    </div>
    <div>
      <h2>IMPULSE SPENDING? HOW ABOUT IMPULSE SAVING?</h2>
      <p>Use the app to save where you can. Dodged that second pint? One tap and the money goes into your account instead, visible to your team.</p>
    </div>
    <div>
      <h2>KEEP EACH OTHER MOTIVATED</h2>
      <p>With team chat and virtual rewards to spend on your team tower, smash your weekly targets and watch the dream take shape.</p>
    </div>
    <div>
      <h2>BUY YOUR DREAM HOME</h2>
      <p>Remember - you're under no obligation to buy with your friends. The app just encourages you to save by doing it together.</p>
    </div>
  </div>
</template>
