@font-face {
    font-family: 'square';
    src: url('fonts/Square.ttf');
    font-weight: normal;
    font-style: normal;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#game-canvas {
  position: absolute;
  top: 100px;
  width: 80%;
  height: 100%;
  bottom: 0;
  background-image: url('game/misc/background.png');
  background-repeat: vertical;
  background-size: 100%;
  display: block;
  margin: 0 auto;
}

#currency {
  padding-top: 10px;
  background: darkblue;
}

#currency li {
  display: inline-block;
  padding: 3px;
  margin: auto;
}

#currency #amount {
  font-family: 'square';
  font-size: 3em;
  color: white;
}

#items {
  position: absolute;
  width: 20%;
  height: 100%;
  background: black;
  right: 0;
  top: 85px;
  text-align: center;
  overflow: scroll;
  padding-bottom: 10px;
}

#items h2 {
  font-family: 'square';
  font-size: 1.5em;
  color: white;
}

#items #currency h2 {
  font-family: 'square';
  font-size: 1.5em;
  color: white;
}

#items li {
  list-style: none;
  font-family: 'square';
  font-size: 1.2em;
  color: yellow;
}

span {
  display: inline-block;
  position: absolute;
}
span img {
    width: 45%;
}
